@import "tailwindcss";

@theme {
  --color-card-bg: #111111;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
}
